[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://github.com/getzola/after-dark.git
[submodule "themes/bodnar-resume"]
	path = themes/bodnar-resume
	url = https://github.com/danielbodnar/bodnar-resume
